.App {
  text-align: center;
}

.swagger {
  text-decoration: none;
  margin: 0 16px;
}

.header {
  display: flex;
  margin: 16px 0 0 16px;
  align-items: left;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.App-link {
  color: #61dafb;
}